@import './variables.scss';

#tommy-search-widget {

    padding: 6px;
    border: 1px solid var(--light-border);
    border-radius: 35px;
    background: var(--light-background);
    font-family: var(--p-font);
    font-size: min(1em, 16px);
    line-height: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #tommy-search-container {

        #tommy-search-bar {

            position: relative;
            border-radius: 30px;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                top: -50px;
                left: -70%;
                bottom: -50px;
                width: 200%;
                border-radius: 30px;
                background: linear-gradient(
                    100deg,
                    rgba(0, 0, 0, 0.0) 15%,
                    rgba(0, 0, 0, 0.1) 22.5%,
                    rgba(0, 0, 0, 0.0) 27.5%,
                    rgba(0, 0, 0, 0.1) 32.5%,
                    rgba(0, 0, 0, 0.0) 40%,
                );
                z-index: 99;
                pointer-events: none;
                opacity: 0;
                animation: loading 2s infinite;
                @include transition(opacity .5s);
            }

            #tommy-search-input {

                width: 100%;
                padding: 20px;
                border-radius: 30px;
                border: 1px solid var(--input-border);
                outline: none;
                font-family: var(--p-font);
                font-size: 1em;
                @include transition(padding .2s, border-color .2s);

                &::placeholder {
                    color: var(--input-placeholder-color);
                    opacity: 0;
                    @include transition(opacity .2s);
                }

                &:focus, &.not-empty {

                    padding-top: 26px;
                    padding-bottom: 14px;

                    &::placeholder {
                        opacity: 1;
                    }

                    + #tommy-search-placeholder {
                        @include transform(translate(2px, -93%) scale(.65));
                    }

                    ~ svg {
                        fill: var(--input-border-focus);
                    }

                }

                &:focus {
                    
                    border-color: var(--input-border-focus);                 

                }

            }

            #tommy-search-placeholder {

                position: absolute;
                top: 50%;
                left: 20px;
                font-size: 1em;
                pointer-events: none;
                transform-origin: 0 0;
                @include transition(transform .2s, font-size .2s);
                @include transform(translateY(-50%));

            }

            svg {
                position: absolute;
                top: calc(20px + .7em);
                right: 20px;
                width: 20px;
                height: 20px;
                pointer-events: none;
                fill: var(--input-border);
                @include transform(translateY(-50%));
                @include transition(fill .2s);
            }

        }

        &.loading {

            #tommy-search-bar {
                
                &:after {
                    opacity: .3;
                }

                @include keyframes(loading) {
                    0% {
                        @include transform(translateX(0));
                    }
                    100% {
                        @include transform(translateX(100%));
                    }
                }

            }

        }

    }

    #tommy-results-container {

        max-height: 0;
        overflow: hidden;
        @include transition(max-height .15s, padding .25s);

        &.show {
            max-height: 1000px;
            padding-top: 5px;
            @include transition(max-height 1s, padding .25s);
        }

        #tommy-results {

            #tommy-results-tags {

                display: flex;
                margin-bottom: 14px;

                span {
                    
                    display: flex;
                    align-items: center;
                    padding: 9px 12px;
                    margin-right: 3px;
                    line-height: 12px;
                    font-size: .65em;
                    font-weight: 900;
                    color: var(--error-color);
                    border-radius: 20px;
                    background-color: var(--error-background);
                    @include transition(color .2s, background-color .2s);

                    svg {
                        height: 12px;
                        width: 12px;
                        margin: 0 5px 0 -2px;
                        fill: var(--error-color);
                        @include transition(fill .2s);
                    }

                    &.active {
                        
                        background-color: var(--correct-background);
                        color: var(--correct-color);

                        svg {
                            fill: var(--correct-color);
                        }

                    }

                }

            }

            #tommy-results-none {

                text-align: center;
                margin: 35px 0;
                padding: 0 15px;
                font-size: 1.6em;
                color: var(--muted-color);
                line-height: 1.3;
                @include transition(opacity .2s);

                span {
                    color: rgba(36, 59, 104, .5);
                }

                &.hide {
                    opacity: 0;
                }

            }

            #tommy-results-list {

                @include transition(opacity .2s);

                &.hide {
                    opacity: 0;
                }

            }

        }

    }

}