@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@mixin transition($x...) {
   -webkit-transition: $x;
   -moz-transition: $x;
   -ms-transition: $x;
   -o-transition: $x;
   transition: $x;
 }
 
@mixin transform($x...){
   -webkit-transform: $x;
   -moz-transform: $x;
   -ms-transform: $x;
   -o-transform: $x;
   transform: $x;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin filter($x...) {
  -webkit-filter: $x;
  filter: $x;
}

@mixin transform-origin($x...) {
  -webkit-transform-origin: $x;
  transform-origin: $x;
}

:root {

    // general
    --primary-color: #296cac;

    // background
    --darker-background: #c1c1c1;
    --dark-background: #dddddd;
    --medium-dark-background: #e1e1e1;
    --medium-background: #eeeeee;
    --light-background: #F5F5F5;
    --lighter-background: #f8f8f8;
    --lightest-background: #fafafa;
    --error-background: #ffd3d3;
    --correct-background: #72F386;

    // borders
    --light-border: #CCCCCC;
    --lighter-border: #DDDDDD;
    --input-border: #D5D5D5;
    --input-border-focus: #C4C4C4;

    // fonts
    --header-font: 'Nunito', sans-serif;
    --p-font: 'Nunito', sans-serif;

    // font-colors
    --input-color: #585858;
    --input-placeholder-color: #C3C3C3;
    --input-placeholder-color-focus: #585858;
    --muted-color: #b3b3b3;
    --error-color: hsl(0, 71%, 68%);
    --correct-color: #3E974B;
    --p-color: #333333;

}